.box { padding: 20px; border: 1px solid #ccc; margin-bottom: 20px; border-radius: 12px; background-color: #fff; box-shadow: 0 4px 10px rgba(0,0,0,0.05); }
    .clear { clear: both; }

nav, footer { background-color: #d4f2f4; color: #0b0848; padding: 12px; text-align: center; font-weight: 500; box-shadow: 0 2px 6px rgba(0,0,0,0.05); border-radius: 8px; margin-bottom: 20px; }    
    /* CSS gioi thieu bản thân */

nav a { color: #0b0848; text-decoration: none; margin: 0 12px; font-weight: bold; transition: color 0.3s ease; }


#gioi-thieu { background-color: #F3FDE8; border-radius: 12px;}
    
#lien-he { background-image: url("https://encrypted-.gstatic.com/images?q=https://img.freepik.com/free-psd/transparent-background-image-blank-canvas-creativity_191095-80818.jpg?semt=ais_hybrid&w=740&q=80:ANd9GcQ3Zdo-A3LOaIDh7busB21gtGP2L-vGjhleew&s://img.freepik.com/free-vector/watercolor-soft-earth-tones-background_23-2151155668.jpg?semt=ais_hybrid&w=740&q=80");
            background-repeat: repeat;
            border-radius: 12px;}

h1, h2, h3, h4 { font-size: 24px; -webkit-text-stroke: 0.5px black; color: #000; margin-bottom: 10px;}  
    
table, th, td { width: 100%; border-collapse: collapse; border-radius: 1px; overflow: hidden; } 
    
th, td { border: 1px solid #000; padding: 10px; text-align: center; }

th { background-color: #d4f2f4; font-weight: bold; }






